/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');

.form {
    display: flex;
    width: 371px;
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 32px;
    justify-content: space-between;
    gap: 8px;
}

input {
    border: 1px solid #808080;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    width: 272px;
    background-color: transparent;
    outline: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    color:#808080;
  }


input:hover {
    border: 1px solid #000000;
    transition-property: border, transform;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:active {
    border: 1px solid #4E75FF;
}

button {
    border-radius: 8px;
    background-color: #4E75FF;
    color:#FFFFFF;
    display: inline-block;
    max-width: 100%;
    padding: 8px 16px;

    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


button:hover {
    background-color: #6C8CFF;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }



.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1128px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 32px auto;
}

li {
    width: calc((100% - 48px) / 3);
    border: 1px solid #808080;

}

img {
    height: 200px;
    width: 100%;
    display: block;
  }

table {
    width: 100%;
    margin-top: 24px;
}

td,
th {
    text-align: center;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.more-button {
    display: none;
    margin: 32px auto 44px;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4E75FF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  .more-button:hover {
    background-color: #6C8CFF;

  }

